.card{
    width: 500px;
    margin: 0 auto;
    &__image{
        width: 200px;
    }
    &__title{
        font-size: small;
    }
    &__text{
        font-weight: bold;
        font-size: 20px;
        &:hover{
            color: red;
        }
    }
}